html,
body {
    height: 100%;
    margin: 0;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #7d53ee;
    display: flex;
    flex-direction: column;

}

.home_navbar {
    display: block;
    background-color: #4f31a3;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: #342169;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: white;

}

.content {
    flex: 1;
  
}


#subheading {
    text-align: center;
    font-weight: bold;
    font-size: 54px;
    color: wheat;
    margin-top: 70px;

}

#subtext {
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(226, 219, 219, 0.788);


}

.button{
    
    padding: 80px;
    
}
.quizQuestion {
    
   
    text-align: center;
    font-size: 23px;
    color: antiquewhite;
  
    
    border-radius: 15px;
    
    border-color: black;
    
  
}




.quizOption{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: wheat;
    text-align: center;
   
   gap: 25px;
   color: rgb(58, 55, 55);
  margin: auto;
  border: black;
  border-color: black;


 font-weight: dark;
 font-size: 40px;
 font-family: Arial, Helvetica, sans-serif;
 
  

}
.quizbutton{
    padding: 50px;
}
.button{
    border: #5e61e7;
 border-radius: 15px;
  padding: 10px;
 text-align: center;
 justify-content: center;

}

.btn{
    padding: 15px;
    border-radius: 15px;
    
}

.buttonquiz{
    border: black;
    border-radius: 10px;
    padding: 8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.buttons{
    margin: 50px;
}


.nextbutton{
    padding: 15px;
    border-radius: 15px;
    
}

.previousbutton{
    padding: 15px;
    border-radius: 15px;
   
}

.submitbutton{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 15px;

}


.selected {
  background-color: #4caf50;
  color: white;
}
